<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.cjpapps.meschemins">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="29" />

    <queries>
        <intent>
            <action android:name="android.intent.action.SEND" />

            <data android:mimeType="*/*" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_mes_chemins"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_mes_chemins_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MesChemins">
        <activity
            android:name=".KParameters"
            android:exported="false"
            android:label="@string/title_activity_kparameters"
            android:theme="@style/Theme.MesChemins.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MesChemins.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Archives"
            android:label="@string/gestion_archive"
            android:theme="@style/Theme.MesChemins.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.cjpapps.meschemins.MainActivity" />
        </activity>
        <activity
            android:name=".ActOnChemin"
            android:label="@string/actions"
            android:theme="@style/Theme.MesChemins.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.cjpapps.meschemins.MainActivity" />
        </activity>
        <activity
            android:name=".Aide"
            android:label="@string/help"
            android:theme="@style/Theme.MesChemins.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.cjpapps.meschemins.MainActivity" />
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/settings"
            android:theme="@style/Theme.MesChemins.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="fr.cjpapps.meschemins.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fr.cjpapps.meschemins.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service
            android:name=".LocationTracker"
            android:exported="false"
            android:foregroundServiceType="location" />
    </application>

</manifest>